@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html, body {
  background-color: #000000; /* Black background color */
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains);
  margin: 0;
  padding: 0;
}

/* Custom utility classes */
.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: width 0.73s ease, height 0.73s ease;
}

.hero-padding {
  padding-top: 9rem; /* Equivalent to pt-36 */
}

/* Custom utility classes */
.profile-image {
  width: 350px;
  height: 350px;
  transition: width 0.73s ease, height 0.73s ease;
}

/* Adjust spacing for wave positioning */
#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Fix position of waves */
.wave1, .wave2 {
  background-position: bottom;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .profile-image {
    width: 120px;
    height: 120px;
  }
}
